### Project Data Integration

In [1]:
import pandas as pd 
import numpy as np

In [2]:
# open the cleaned crime data csv file 
la_crime_data = pd.read_csv("cleaned_crime_data.csv", encoding="utf-8", sep=",", low_memory=False)

la_crime_data.head()

,DR_NO,DATE_RPTD,DATE_OCC,AREA,AREA_NAME,RPT_DIST_NO,CRM_CD,CRM_CD_DESC,MOCODES,VICT_AGE,VICT_SEX,VICT_DESCENT,PREMIS_CD,PREMIS_DESC,WEAPON_USED_CD,WEAPON_DESC,STATUS,STATUS_DESC,LOCATION
0,250504239,2025-03-13,2025-03-13,5,Harbor,516,510,VEHICLE - STOLEN,Unknown,X,X,X,108.0,PARKING LOT,Unknown / None Used,Unknown / None Used,IC,Invest Cont,1300 N FRIES AV
1,250504238,2025-03-13,2025-03-13,5,Harbor,569,440,THEFT PLAIN - PETTY ($950 & UNDER),Unknown,X,X,X,101.0,STREET,Unknown / None Used,Unknown / None Used,IC,Invest Cont,BERTH 73
2,250304275,2025-03-13,2025-03-13,3,Southwest,338,510,VEHICLE - STOLEN,Unknown,X,X,X,101.0,STREET,Unknown / None Used,Unknown / None Used,IC,Invest Cont,3100 MCCLINTOCK AV
3,251000503,2025-03-13,2025-03-13,10,West Valley,1035,624,BATTERY - SIMPLE ASSAULT,0913 1815 1251 0400 0416,16,M,H,721.0,HIGH SCHOOL,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,18200 KITTRIDGE ST
4,251700501,2025-03-13,2025-03-13,17,Devonshire,1717,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,0340 0359 1822 1259,16,M,H,101.0,STREET,511.0,VERBAL THREAT,IC,Invest Cont,11200 GOTHIC AV

In [3]:
la_crime_data.shape

(127826, 19)

In [4]:
la_crime_data.dtypes

DR_NO              int64
DATE_RPTD         object
DATE_OCC          object
AREA               int64
AREA_NAME         object
RPT_DIST_NO        int64
CRM_CD             int64
CRM_CD_DESC       object
MOCODES           object
VICT_AGE          object
VICT_SEX          object
VICT_DESCENT      object
PREMIS_CD         object
PREMIS_DESC       object
WEAPON_USED_CD    object
WEAPON_DESC       object
STATUS            object
STATUS_DESC       object
LOCATION          object
dtype: object

In [57]:
# open the la population csv 
la_population = pd.read_csv("total_la_population.csv", encoding="utf-8", sep=",")

la_population.head(15)

,Total Population,American Indian and Alaska Native,Asian,African American,Native Hawaiian and Other Pacific Islander,White,Some Other Race,Two or More Races,Hispanic or Latino
0,City of L.A.,"3,857,897","44,777","463,960","328,445","5,627","1,092,687","967,895","607,324"
1,Adams-Normandie,"6,791",129,394,783,63,663,"2,673",944
2,Arleta,"33,884",452,"4,430",181,46,"2,958","12,733","7,266"
3,Arlington Heights,"13,269",121,"1,919","2,293",0,744,"5,048","1,755"
4,Arlington Park,"2,896",68,32,"1,169",0,122,929,95
5,Atwater Village,"10,098",41,"2,129",113,0,"3,953","2,075","1,278"
6,Baldwin Hills,"25,210",216,535,"13,592",67,"2,122","4,224","3,546"
7,Bel Air,"7,351",3,972,242,0,"5,382",109,576
8,Beverly Crest,"5,662",0,301,135,0,"4,668",36,405
9,Beverly Glen,"3,880",0,431,45,0,"2,741",84,559
10,Beverlywood,"4,867",0,789,354,0,"2,918",87,430
11,Boyle Heights,"85,993","1,772","2,255","1,047",26,"2,273","56,200","12,298"
12,Brentwood,"33,341",62,"2,735",381,55,"25,380",518,"3,514"
13,Broadway-Manchester,"12,152",88,32,"2,451",0,87,"4,894","3,077"
14,Byzantine-Latino Quarter,"20,425",375,"3,348",621,50,848,"9,010","3,899"

In [55]:
display(la_population[la_population["Total Population"] == "Harbor"])

Empty DataFrame
Columns: [Total Population, American Indian and Alaska Native, Asian, African American, Native Hawaiian and Other Pacific Islander, White, Some Other Race, Two or More Races, Hispanic or Latino]
Index: []

In [6]:
la_population.shape

(152, 9)

In [7]:
la_population.dtypes

Total Population                              object
American Indian and Alaska Native             object
Asian                                         object
African American                              object
Native Hawaiian and Other Pacific Islander    object
White                                         object
Some Other Race                               object
Two or More Races                             object
Hispanic or Latino                            object
dtype: object

In [8]:
la_crime_data_cols = la_crime_data.columns
la_population_cols = la_population.columns

print(la_crime_data_cols)
print(la_population_cols)

Index(['DR_NO', 'DATE_RPTD', 'DATE_OCC', 'AREA', 'AREA_NAME', 'RPT_DIST_NO',
       'CRM_CD', 'CRM_CD_DESC', 'MOCODES', 'VICT_AGE', 'VICT_SEX',
       'VICT_DESCENT', 'PREMIS_CD', 'PREMIS_DESC', 'WEAPON_USED_CD',
       'WEAPON_DESC', 'STATUS', 'STATUS_DESC', 'LOCATION'],
      dtype='object')
Index(['Total Population', 'American Indian and Alaska Native', 'Asian',
       'African American', 'Native Hawaiian and Other Pacific Islander',
       'White', 'Some Other Race', 'Two or More Races', 'Hispanic or Latino'],
      dtype='object')

In [9]:
# rename la_population["Total Population"] to all lower case to match la_crime_data column name
la_population = la_population.rename(columns={"Total Population" : "AREA_NAME"})

In [10]:
la_crime_data_unique = la_crime_data['AREA_NAME'].unique()

la_crime_data_unique

array(['Harbor', 'Southwest', 'West Valley', 'Devonshire', 'Mission',
       'Topanga', 'Hollenbeck', 'Southeast', 'Foothill', 'West LA',
       'Northeast', 'Olympic', 'Newton', '77th Street', 'Central',
       'Van Nuys', 'N Hollywood', 'Pacific', 'Rampart', 'Wilshire',
       'Hollywood'], dtype=object)

In [11]:
la_population_unique = la_population['AREA_NAME'].unique()

la_population_unique

array(['City of L.A.', 'Adams-Normandie', 'Arleta', 'Arlington Heights',
       'Arlington Park', 'Atwater Village', 'Baldwin Hills', 'Bel Air',
       'Beverly Crest', 'Beverly Glen', 'Beverlywood', 'Boyle Heights',
       'Brentwood', 'Broadway-Manchester', 'Byzantine-Latino Quarter',
       'Cahuenga Pass', 'Canoga Park', 'Carthay Circle',
       'Central-Alameda', 'Century City', 'Century Cove', 'Century Palms',
       'Chatsworth', 'Cheviot Hills', 'Chinatown & Historic L.A.',
       'Country Club Park', 'Crenshaw', 'Cypress Park', 'Del Rey',
       'Downtown', 'Eagle Rock', 'East Hollywood', 'Echo Park',
       'El Sereno', 'Elysian Park', 'Elysian Valley', 'Encino',
       'Exposition Park', 'Fairfax', 'Figueroa Park Square',
       'Florence (LA)', 'Glassell Park', 'Gramercy Park', 'Granada Hills',
       'Green Meadows', 'Griffith Park/Los Feliz', 'Hancock Park',
       'Hansen Dam Rec Area', 'Harbor City', 'Harbor Gateway',
       'Harvard Heights', 'Hermon', 'Highland Park',
       'Historic South Central', 'Historic West Adams', 'Hollwood Hills',
       'Hollywood', 'Hyde Park', 'Jefferson Park', 'King Estates',
       'Koreatown', 'La Tuna Canyon', 'Lake Balboa', 'Lakeview Terrace',
       'Larchmont Village', "Larchmont-St. Andrew's Square",
       'Leimert Park', 'Lincoln Heights', 'Manchester Square',
       'Maplewood-St. Andrews', 'Mar Vista', 'Marina', 'Melrose',
       'Mid-City', 'Mid-City West', 'Mid-Wilshire (Brookside)',
       'Mid-Wilshire (Fremont Place-Windsor Village)',
       'Mid-Wilshire (Wilshire Park)', 'Miracle Mile', 'Mission Hills',
       'Montecito Heights', 'Monterey Hills', 'Mt. Washington',
       'North Hills', 'North Hollywood', 'Northridge', 'Olympic Park',
       'Pacific Palisades', 'Pacoima', 'Palms', 'Panorama City',
       'Picfair Village', 'Pico Park', 'Pico-Union', 'Playa del Rey',
       'Playa Vista', 'Porter Ranch', 'Rampart Village', 'Rancho Park',
       'Redondo Sycamore', 'Reseda', 'San Pedro',
       'Sepulveda Dam Recreation Area', 'Shadow Hills', 'Sherman Oaks',
       'Silver Lake', 'South Carthay', 'South Park', 'South Robertson',
       'Studio City', 'Sun Valley', 'Sunland', 'Sycamore Grove', 'Sylmar',
       'Tarzana', 'Terminal Island', 'Toluca Lake', 'Toluca Woods',
       'Topanga State Park', 'Tujunga', 'University Expo Park West',
       'University Hills', 'University Park', 'Valley Glen',
       'Valley Village', 'Van Nuys', 'Venice', 'Vermont Knolls',
       'Vermont Square',
       'Vermont-Slauson/Harvard Park/Chesterfield Square',
       'Vermont Vista', 'View Heights', 'Virgil Village', 'Watts',
       'West Adams', 'West Adams Terrace/Kinney Heights/Berkely Square',
       'West Hills', 'West LA', 'West Toluca Lake', 'Westchester',
       'Western Heights/Sugar Hill/West Adams Heights', 'Western Wilton',
       'Westlake & Historic Filipinotown', 'Westside Village', 'Westwood',
       'Wilmington', 'Wilshire Center', 'Wilshire Vista',
       'Wilshire Vista Heights', 'Windsor Square', 'Winnetka',
       'Woodland Hills'], dtype=object)

In [12]:
la_population['AREA_NAME'] = la_population['AREA_NAME'].apply(lambda x: 'Harbor' if 'Harbor' in x else x)

In [13]:
la_population['AREA_NAME'] = la_population['AREA_NAME'].replace('North Hollywood', 'N Hollywood')

In [14]:
# southwest 

la_population['AREA_NAME'] = la_population['AREA_NAME'].replace(['Adams-Normandie','West Adams','West Adams Terrace/Kinney Heights/Berkely Square', 'University Expo Park West', 
                                                                'Vermont Square','Vermont-Slauson/Harvard Park/Chesterfield Square', 'Baldwin Hills', 'Crenshaw', 'Broadway-Manchester',
                                                                'Central-Alameda', 'Exposition Park', 'Florence (LA)', 'Historic South Central', 'Hyde Park', 'Leimert Park','Gramercy Park',
                                                                'Manchester Square', 'South Park', 'Vermont Vista', 'Watts', 'Vermont Knolls', 'Historic West Adams', 'South Robertson'], 'Southwest')

In [15]:
# west valley

la_population['AREA_NAME'] = la_population['AREA_NAME'].replace(['West Hills', 'Canoga Park','Woodland Hills','Reseda',
                                                                'Arleta','Encino', 'Tarzana','Valley Village',
                                                                 'Pacoima','Sherman Oaks','Sunland','Sepulveda Dam Recreation Area',
                                                                 'Studio City', 'Winnetka','Valley Glen'], 'West Valley')

In [16]:
# southeast 

la_population['AREA_NAME'] = la_population['AREA_NAME'].replace(['Green Meadows','Toluca Lake', 'Toluca Woods', 'West Toluca Lake'], 'Southeast')

In [17]:
# northeast

la_population['AREA_NAME'] = la_population['AREA_NAME'].replace(['Atwater Village','Cypress Park','Eagle Rock','Glassell Park','Highland Park', 'Montecito Heights',
                                                                 'Mt. Washington','Hermon', 'Sycamore Grove', 'Monterey Hills'], 'Northeast')

In [18]:
# central 

la_population['AREA_NAME'] = la_population['AREA_NAME'].replace(['Koreatown','City of L.A.','Chinatown & Historic L.A.','Mid-Wilshire (Brookside)', 'Mid-Wilshire (Fremont Place-Windsor Village)',
                                                                 'Mid-Wilshire (Wilshire Park)','Hancock Park','Hollwood Hills', 'Elysian Park','Elysian Valley','Windsor Square', 'Fairfax','Picfair Village',
                                                                 'Downtown', 'South Carthay', 'Arlington Heights','Arlington Park', "Larchmont-St. Andrew's Square", 'Virgil Village', 'Country Club Park','Figueroa Park Square',
                                                                ], 'Central')

In [19]:
# topanga

la_population['AREA_NAME'] = la_population['AREA_NAME'].replace('Topanga State Park', 'Topanga')

In [20]:
# wilshire

la_population['AREA_NAME'] = la_population['AREA_NAME'].replace(['Wilshire Center', 'Wilshire Vista','Wilshire Vista Heights','Wilshire', 'Mid-City', 
                                                                 'Mid-City West', 'Maplewood-St. Andrews', 'Miracle Mile', 'Western Wilton', 'Carthay Circle'], 'Wilshire')

In [21]:
# pacific 

la_population['AREA_NAME'] = la_population['AREA_NAME'].replace(['Redondo Sycamore', 'Pacific Palisades','Playa Vista','Bel Air',
                                                                'Brentwood','Century City', 'Century Cove', 'Century Palms','Cheviot Hills','Marina',
                                                                'Mar Vista','Palms','Rancho Park', 'Playa del Rey', 'Westchester', 'Del Rey'], 'Pacific')

In [22]:
# harbor

la_population['AREA_NAME'] = la_population['AREA_NAME'].replace(['Harbor','San Pedro','Wilmington', 'Terminal Island'], 'Harbor')

In [23]:
# devonshire

la_population['AREA_NAME'] = la_population['AREA_NAME'].replace(['Granada Hills','Chatsworth', 'Porter Ranch', 'Northridge'], 'Devonshire')

In [24]:
# mission 

la_population['AREA_NAME'] = la_population['AREA_NAME'].replace(['Mission Hills','North Hills','Panorama City','Sylmar'], 'Mission')

In [25]:
# hollenbeck 

la_population['AREA_NAME'] = la_population['AREA_NAME'].replace(['Boyle Heights','University Hills','Lincoln Heights','El Sereno'], 'Hollenbeck')

In [26]:
# foothill 


la_population['AREA_NAME'] = la_population['AREA_NAME'].replace(['Lakeview Terrace','Shadow Hills','Tujunga', 'Sun Valley', 'La Tuna Canyon', 'Hansen Dam Rec Area'], 'Foothill')

In [27]:
# rampart

la_population['AREA_NAME'] = la_population['AREA_NAME'].replace(['Silver Lake','Echo Park','Pico-Union','Pico Park','Westlake & Historic Filipinotown', 'Byzantine-Latino Quarter', 'Rampart Village'], 'Rampart')

In [28]:
# west LA
la_population['AREA_NAME'] = la_population['AREA_NAME'].replace(['Westwood','Venice', 'Beverly Crest','Beverly Glen', 'Beverlywood',
                                                                'Westside Village', 'South Robertson'],'West LA')

In [29]:
# olympic

la_population['AREA_NAME'] = la_population['AREA_NAME'].replace(['University Park','Harvard Heights','Jefferson Park', 'Olympic Park',], 'Olympic')

In [30]:
# newton


la_population['AREA_NAME'] = la_population['AREA_NAME'].replace(['Western Heights/Sugar Hill/West Adams Heights', 'View Heights'], 'Newton')

In [31]:
# hollywood 

la_population['AREA_NAME'] = la_population['AREA_NAME'].replace(['Hollywood', 'Melrose', 'Griffith Park/Los Feliz', 
                                                                 'King Estates','Larchmont Village', 'Cahuenga Pass', 'East Hollywood'], 'Hollywood')

In [32]:
# Van Nuys
la_population['AREA_NAME'] = la_population['AREA_NAME'].replace('Lake Balboa', 'Van Nuys')

In [33]:
# 77th street
# this will be dropped due to the road going through multiple divisions, 
# and the location of the crime reported is not the exact location due to confidentiality.

In [34]:
la_population_unique = la_population['AREA_NAME'].unique()

la_population_unique

array(['Central', 'Southwest', 'West Valley', 'Northeast', 'Pacific',
       'West LA', 'Hollenbeck', 'Rampart', 'Hollywood', 'Wilshire',
       'Devonshire', 'Southeast', 'Foothill', 'Harbor', 'Olympic',
       'Van Nuys', 'Mission', 'N Hollywood', 'Topanga', 'Newton'],
      dtype=object)

In [35]:
print(len(la_population_unique))

20

In [36]:
matching_areas = la_crime_data[la_crime_data['AREA_NAME'].isin(la_population['AREA_NAME'])]


matching_areas

,DR_NO,DATE_RPTD,DATE_OCC,AREA,AREA_NAME,RPT_DIST_NO,CRM_CD,CRM_CD_DESC,MOCODES,VICT_AGE,VICT_SEX,VICT_DESCENT,PREMIS_CD,PREMIS_DESC,WEAPON_USED_CD,WEAPON_DESC,STATUS,STATUS_DESC,LOCATION
0,250504239,2025-03-13,2025-03-13,5,Harbor,516,510,VEHICLE - STOLEN,Unknown,X,X,X,108.0,PARKING LOT,Unknown / None Used,Unknown / None Used,IC,Invest Cont,1300 N FRIES AV
1,250504238,2025-03-13,2025-03-13,5,Harbor,569,440,THEFT PLAIN - PETTY ($950 & UNDER),Unknown,X,X,X,101.0,STREET,Unknown / None Used,Unknown / None Used,IC,Invest Cont,BERTH 73
2,250304275,2025-03-13,2025-03-13,3,Southwest,338,510,VEHICLE - STOLEN,Unknown,X,X,X,101.0,STREET,Unknown / None Used,Unknown / None Used,IC,Invest Cont,3100 MCCLINTOCK AV
3,251000503,2025-03-13,2025-03-13,10,West Valley,1035,624,BATTERY - SIMPLE ASSAULT,0913 1815 1251 0400 0416,16,M,H,721.0,HIGH SCHOOL,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,18200 KITTRIDGE ST
4,251700501,2025-03-13,2025-03-13,17,Devonshire,1717,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,0340 0359 1822 1259,16,M,H,101.0,STREET,511.0,VERBAL THREAT,IC,Invest Cont,11200 GOTHIC AV
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127821,241304040,2024-01-01,2024-01-01,13,Newton,1385,626,INTIMATE PARTNER - SIMPLE ASSAULT,0400 0913 1813 2000,43,F,H,501.0,SINGLE FAMILY DWELLING,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,400 E 60TH ST
127822,240709471,2024-01-01,2024-01-01,7,Wilshire,721,815,SEXUAL PENETRATION W/FOREIGN OBJECT,1822 0515,69,F,W,701.0,HOSPITAL,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,8700 W BEVERLY BL
127823,241104022,2024-01-01,2024-01-01,11,Northeast,1184,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",1234 1822 0408 0429 0416 0444,43,M,H,207.0,BAR/COCKTAIL/NIGHTCLUB,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,1400 W SUNSET BL
127824,240504085,2024-01-01,2024-01-01,5,Harbor,569,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0329 0311,X,X,X,506.0,ABANDONED BUILDING ABANDONED HOUSE,Unknown / None Used,Unknown / None Used,IC,Invest Cont,2500 SIGNAL ST
127825,242004536,2024-01-01,2024-01-01,20,Olympic,2025,330,BURGLARY FROM VEHICLE,1822 0344,40,F,A,123.0,PARKING UNDERGROUND/BUILDING,Unknown / None Used,Unknown / None Used,IC,Invest Cont,300 S MARIPOSA AV

In [37]:
la_population['AREA_NAME'].unique()

array(['Central', 'Southwest', 'West Valley', 'Northeast', 'Pacific',
       'West LA', 'Hollenbeck', 'Rampart', 'Hollywood', 'Wilshire',
       'Devonshire', 'Southeast', 'Foothill', 'Harbor', 'Olympic',
       'Van Nuys', 'Mission', 'N Hollywood', 'Topanga', 'Newton'],
      dtype=object)

In [38]:
print(len(la_population['AREA_NAME'].unique()))

20

In [39]:
# Find the unique values in la_poulation that are not in la_crime_data
unique_in_la_population = la_population[~la_population['AREA_NAME'].isin(la_crime_data['AREA_NAME'])]

unique_in_la_population

Empty DataFrame
Columns: [AREA_NAME, American Indian and Alaska Native, Asian, African American, Native Hawaiian and Other Pacific Islander, White, Some Other Race, Two or More Races, Hispanic or Latino]
Index: []

In [40]:
unique_in_la_crime_data = la_crime_data[~la_crime_data['AREA_NAME'].isin(la_population['AREA_NAME'])]

unique_in_la_crime_data

,DR_NO,DATE_RPTD,DATE_OCC,AREA,AREA_NAME,RPT_DIST_NO,CRM_CD,CRM_CD_DESC,MOCODES,VICT_AGE,VICT_SEX,VICT_DESCENT,PREMIS_CD,PREMIS_DESC,WEAPON_USED_CD,WEAPON_DESC,STATUS,STATUS_DESC,LOCATION
83,251204190,2025-02-14,2025-02-14,12,77th Street,1239,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,1258 1822 0305 0444 0319 0421 1251,13,M,B,124.0,BUS STOP,511.0,VERBAL THREAT,IC,Invest Cont,6000 S VERMONT AV
162,251204137,2025-01-31,2025-01-31,12,77th Street,1207,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",1258 0302 0216 0213 0202 0443 1251 1822,10,M,B,704.0,ELEMENTARY SCHOOL,104.0,SHOTGUN,IC,Invest Cont,800 W 51ST ST
210,251204103,2025-01-22,2025-01-22,12,77th Street,1259,510,VEHICLE - STOLEN,Unknown,X,X,X,101.0,STREET,Unknown / None Used,Unknown / None Used,IC,Invest Cont,7800 MCKINLEY AV
226,251204086,2025-01-16,2025-01-16,12,77th Street,1269,510,VEHICLE - STOLEN,Unknown,X,X,X,108.0,PARKING LOT,Unknown / None Used,Unknown / None Used,IC,Invest Cont,8500 TOWNE AV
253,251204039,2025-01-01,2025-01-01,12,77th Street,1258,946,OTHER MISCELLANEOUS CRIME,Unknown,X,X,X,726.0,POLICE FACILITY,Unknown / None Used,Unknown / None Used,IC,Invest Cont,7600 S BROADWAY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127734,241204065,2024-01-01,2024-01-01,12,77th Street,1268,236,INTIMATE PARTNER - AGGRAVATED ASSAULT,0400 0416 2000 1814 0913,19,F,B,501.0,SINGLE FAMILY DWELLING,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AA,Adult Arrest,100 W 82ND ST
127764,241204043,2024-01-01,2024-01-01,12,77th Street,1209,210,ROBBERY,0344 1822 0216 0443 0341 0370 1218,43,M,H,101.0,STREET,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,FIGUEROA
127803,241204086,2024-01-01,2024-01-01,12,77th Street,1239,761,BRANDISH WEAPON,0334 0329 0361 0913 0421 0432 0445,56,M,H,501.0,SINGLE FAMILY DWELLING,310.0,CONCRETE BLOCK/BRICK,AA,Adult Arrest,600 W 61ST ST
127806,241204067,2024-01-01,2024-01-01,12,77th Street,1268,624,BATTERY - SIMPLE ASSAULT,0400 0416 0913 0561,41,F,B,501.0,SINGLE FAMILY DWELLING,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,100 W 82ND ST
127816,241204023,2024-01-01,2024-01-01,12,77th Street,1269,236,INTIMATE PARTNER - AGGRAVATED ASSAULT,2000 1814 0913 0408 2034,29,F,H,501.0,SINGLE FAMILY DWELLING,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AA,Adult Arrest,400 E 84TH ST

In [43]:
la_crime_data = la_crime_data.drop(la_crime_data[la_crime_data['AREA_NAME'].str.lower() == '77th street'].index)

In [44]:
la_crime_data.shape

(121046, 19)

In [45]:
population_crime_df = pd.merge(la_crime_data, la_population, on="AREA_NAME", how="inner")

In [50]:
display(population_crime_df)

,DR_NO,DATE_RPTD,DATE_OCC,AREA,AREA_NAME,RPT_DIST_NO,CRM_CD,CRM_CD_DESC,MOCODES,VICT_AGE,...,STATUS_DESC,LOCATION,American Indian and Alaska Native,Asian,African American,Native Hawaiian and Other Pacific Islander,White,Some Other Race,Two or More Races,Hispanic or Latino
0,250504239,2025-03-13,2025-03-13,5,Harbor,516,510,VEHICLE - STOLEN,Unknown,X,...,Invest Cont,1300 N FRIES AV,"24,640",80,"4,821","2,386",138,"4,126","4,491","5,093"
1,250504239,2025-03-13,2025-03-13,5,Harbor,516,510,VEHICLE - STOLEN,Unknown,X,...,Invest Cont,1300 N FRIES AV,"39,225",245,"7,595","6,170",9,"2,869","11,679","7,307"
2,250504239,2025-03-13,2025-03-13,5,Harbor,516,510,VEHICLE - STOLEN,Unknown,X,...,Invest Cont,1300 N FRIES AV,"83,697",808,"5,677","4,216",351,"26,747","14,293","15,843"
3,250504239,2025-03-13,2025-03-13,5,Harbor,516,510,VEHICLE - STOLEN,Unknown,X,...,Invest Cont,1300 N FRIES AV,970,16,49,137,10,407,10,0
4,250504239,2025-03-13,2025-03-13,5,Harbor,516,510,VEHICLE - STOLEN,Unknown,X,...,Invest Cont,1300 N FRIES AV,"52,030",540,"1,635","1,697",161,"1,839","12,306","7,379"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1040388,240604054,2024-01-01,2024-01-01,6,Hollywood,646,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",1822 0400 0416,28,...,Invest Cont,WHITLEY,"32,432",145,"3,491","1,364",31,"20,226","2,419","3,342"
1040389,240604054,2024-01-01,2024-01-01,6,Hollywood,646,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",1822 0400 0416,28,...,Invest Cont,WHITLEY,"98,119",953,"9,619","7,159",182,"45,881","16,777","11,757"
1040390,240604054,2024-01-01,2024-01-01,6,Hollywood,646,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",1822 0400 0416,28,...,Invest Cont,WHITLEY,"4,480",28,198,770,8,198,"2,067",693
1040391,240604054,2024-01-01,2024-01-01,6,Hollywood,646,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",1822 0400 0416,28,...,Invest Cont,WHITLEY,"4,285",17,913,215,0,"2,302",95,630
1040392,240604054,2024-01-01,2024-01-01,6,Hollywood,646,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",1822 0400 0416,28,...,Invest Cont,WHITLEY,"13,275",90,"1,354",483,9,"9,191",661,"1,034"

#AREA_NAMES repeat due to the multiple neighborhoods within the same division. Need to leave them as be to count all of the instances a particular crime that is committed against a certain demographic within each division, and compare the amount and type of crimes that occured within the first 3 months of 2024 and 2025. Wanted to start the integration of my 2 datasets for the proposal and further analysis will be completed later on.

In [49]:
merged_dataframe = population_crime_df.to_csv('crime_population_merged.csv', index=False)